@using FormsIW5.Common.Enums
<h3>QuestionEditComponent</h3>

<button type="button" class="btn-danger" @onclick="DeleteQuestionAsync">
    Delete
</button>

<EditForm Model="@Model">
    <Blazored.FluentValidation.FluentValidationValidator @ref="validator" />

    <small class="form-text text-danger">
        <ValidationSummary />
    </small>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="w-100">
                    Question Name:
                    <InputText @bind-Value="@Model.QuestionText" class="form-control" @onfocusout="CheckValidationAsync" />
                    <small class="form-text text-danger">
                        <ValidationMessage For="@(() => Model.QuestionText)" />
                    </small>
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="w-100">
                    Question Description:
                    <InputTextArea @bind-Value="@Model.Description" class="form-control" @onfocusout="CheckValidationAsync" />
                    <small class="form-text text-danger">
                        <ValidationMessage For="@(() => Model.Description)" />
                    </small>
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="w-100 font-weight-bold">
                    <InputSelect @bind-Value="Model.QuestionType" class="form-control" @onfocusout="CheckValidationAsync">
                        @foreach (var foodType in Enum.GetValues<QuestionType>())
                        {
                            <option value="@foodType">@foodType.GetReadableName()</option>
                        }
                    </InputSelect>
                    <small class="form-text text-danger">
                        <ValidationMessage For="@(() => Model.QuestionType)" />
                    </small>
                </label>
            </div>
        </div>
    </div>

    @if (Model.QuestionType == QuestionType.Multiselection)
    {
        <small class="form-text text-danger">
            <ValidationMessage For="@(() => Model.QuestionOptions)" />
        </small>
        <div class="horizontal-selection-container">
            @foreach (var option in Model.QuestionOptions)
            {
                <QuestionOptionComponent OnChanged="CheckValidationAsync" OnDelete="DeleteQuestionOptionAsync" QuestionOption="@option" />
            }
        </div>
        <button @onclick="@AddQuestionOptionAsync">Add Option</button>
    }
    else if (Model.QuestionType == QuestionType.RangeType)
    {
        <div class="col-md-6">
            <div class="form-group">
                <label class="w-100 font-weight-bold mb-0" for="durationInput">
                    Range
                </label>
                <div class="input-group">
                    <div class="p-2">Min:</div>
                    <InputNumber min="0" @bind-Value="Model.MinValue" class="form-control" id="durationInput" @onfocusout="CheckValidationAsync" />
                    <small class="form-text text-danger">
                        <ValidationMessage For="@(() => Model.MinValue)" />
                    </small>
                    <div class="p-2">Max:</div>
                    <InputNumber min="0" @bind-Value="Model.MaxValue" class="form-control" @onfocusout="CheckValidationAsync" />
                    <small class="form-text text-danger">
                        <ValidationMessage For="@(() => Model.MaxValue)" />
                    </small>
                </div>
            </div>
        </div>
    }

</EditForm>