@using FormsIW5.Web.App.Components.Questions
<h3>FormEditComponent</h3>

<button type="submit" class="btn btn-success" @onclick="@Back">
    Go to detail
</button>

<EditForm Model="@EditForm">
    <div class="form-group">
        <label class="w-100">
            Form name:
            <InputText @bind-Value="@EditForm.FormName" class="form-control" />
        </label>
    </div>

    <div class="form-group">
        <label class="w-100">
            Start date:
            <InputDate @bind-Value="@EditForm.StartDate" class="form-control" />
        </label>
    </div>

    <div class="form-group">
        <label class="w-100">
            End date:
            <InputDate @bind-Value="@EditForm.EndDate" class="form-control" />
        </label>
    </div>

    <button type="submit" class="btn btn-success" @onclick="@SaveAsync">
        Update form
    </button>
</EditForm>

@if (IsUpdated)
{
    <p>Entity updated</p>
}

@foreach (var questionId in QuestionsIds)
{
     <QuestionEditComponent OnDelete="DeleteQuestionCallback" QuestionId=@questionId />
}

<button @onclick="@AddQuestionAsync">Add question</button>
<button onclick="">Share Form</button>