@page "/question/{Id:guid}"
@using FormsIW5.Common.Enums

<div>
    <h1>@QuestionDetailModel.QuestionText</h1>
    <h2>@QuestionDetailModel.Description</h2>
</div>

@if (QuestionDetailModel.QuestionType == QuestionType.RangeType)
{
    <p>Type: Range</p>

    <p>From:</p>
    <p>@QuestionDetailModel.FromValue</p>
    <p>To:</p>
    <p>@QuestionDetailModel.ToValue</p>

    <div class="horizontal-selection-container">
@*         @foreach (var answer in QuestionDetailModel.Answers)
        {
            <p>Answer: @answer.IntegerAnswer</p>
        } *@
    </div>
}
else if (QuestionDetailModel.QuestionType == QuestionType.DropDown)
{
    <p>Type: Selection</p>
    <div class="horizontal-selection-container">
        @foreach (var questionOption in QuestionDetailModel.QuestionOptions)
        {
            <p>Option: @questionOption.QuestionOptionName</p>

        }
    </div>
    <div class="horizontal-selection-container">
@*         @foreach (var answer in QuestionDetailModel.Answers)
        {
            <p>Answer: @answer.TextAnswer</p>
        } *@
    </div>
}
else
{
    <p>Type: Open answer</p>

    <div class="horizontal-selection-container">
@*         @foreach (var answer in QuestionDetailModel.Answers)
        {
            <p>Answer: @answer.TextAnswer</p>
        } *@
    </div>
}