@page "/forms/{Id:guid}"

@using FormsIW5.Web.App.Components;
@using FormsIW5.Web.App.Components.Answers
@using FormsIW5.Web.App.Components.Questions

<button type="submit" class="btn btn-success" @onclick="@Back">
    Back
</button> 

<AuthorizeView>
    <Authorized>
        @if (Model.IsOwner || IsAdmin)
        {
        <button type="submit" class="btn btn-success" @onclick="@Edit">
            Edit
        </button>
        <button type="submit" class="btn btn-success" @onclick="@ShowAnswers">
            Show Answers
        </button>
        <button type="submit" class="btn-danger" @onclick="@DeleteAsync">
            Delete
            </button>
        }
    </Authorized>
</AuthorizeView>

<h3>Form Detail</h3>

<h1>@Model.FormName</h1>
<h1>@Model.FormStartDate</h1>
<h1>@Model.FormEndDate</h1>

<h3>QuestionsList</h3>

<AuthorizeView>
    <Authorized>
        <QuestionAnswersListComponent Questions="Model.Questions"/>
    </Authorized>
    <NotAuthorized>
        <QuestionListComponent Questions="Model.Questions"/>
        <p>You must be signed in to answer questions.</p>
        <a href="authentication/login" class="nav-link font-weight-bold">Log in</a>
    </NotAuthorized>
</AuthorizeView>